# Project 1: Analyzing Arrivals for AmWest and Alaska Airlines

### Import Raw Data from CSV File and Update Path to File

In [163]:
import pandas as pd
import numpy as np

path_to_file = "C:\\Users\\kboostri\\OneDrive - Schrafts's 2.0 LLC\\Documents\\Kathy\\Dataset.csv"

df = pd.read_csv(path_to_file)

print(df)

   Airline Description    Destination  Count of Flights
0   Alaska      ontime    Los Angeles               497
1   Alaska      ontime        Phoenix               221
2   Alaska      ontime      San Diego               212
3   Alaska      ontime  San Francisco               503
4   Alaska      ontime        Seattle              1841
5   Alaska     delayed    Los Angeles                62
6   Alaska     delayed        Phoenix                12
7   Alaska     delayed      San Diego                20
8   Alaska     delayed  San Francisco               102
9   Alaska     delayed        Seattle               305
10  AmWest      ontime    Los Angeles               694
11  AmWest      ontime        Phoenix              4840
12  AmWest      ontime      San Diego               383
13  AmWest      ontime  San Francisco               320
14  AmWest      ontime        Seattle               201
15  AmWest     delayed    Los Angeles               117
16  AmWest     delayed        Phoenix               415
17  AmWest     delayed      San Diego                65
18  AmWest     delayed  San Francisco               129
19  AmWest     delayed        Seattle                61

#### Drop Values with Description "ontime" to Analyze Only Delayed Rows Then Sort Greatest to Least Flight Count

In [92]:
df = df.drop(df[df.Description == 'ontime'].index)

df2 = df.sort_values(by = ['Count of Flights'], ascending=False)

#### Filter Out Rows for AmWest to Analyze The Cities With Greatest Delays for the Airline

In [95]:
df2[df2.Airline == 'AmWest']

   Airline Description    Destination  Count of Flights
16  AmWest     delayed        Phoenix               415
18  AmWest     delayed  San Francisco               129
15  AmWest     delayed    Los Angeles               117
17  AmWest     delayed      San Diego                65
19  AmWest     delayed        Seattle                61

#### Filter Out Rows for Alaska to Analyze The Cities With Greatest Delays for the Airline

In [94]:
df2[df2.Airline == 'Alaska']

  Airline Description    Destination  Count of Flights
9  Alaska     delayed        Seattle               305
8  Alaska     delayed  San Francisco               102
5  Alaska     delayed    Los Angeles                62
7  Alaska     delayed      San Diego                20
6  Alaska     delayed        Phoenix                12

#### Drop Airlines and Description to Analyze the Cities with the Greatest Delays

In [104]:
df3 = df2.drop(labels = ['Airline', 'Description'], axis=1)

      Destination  Count of Flights
16        Phoenix               415
9         Seattle               305
18  San Francisco               129
15    Los Angeles               117
8   San Francisco               102
17      San Diego                65
5     Los Angeles                62
19        Seattle                61
7       San Diego                20
6         Phoenix                12

#### Summate Duplicate Rows as Unique Values and Sort by Greatest Value

In [160]:
grouped = df3.groupby(['Destination']).agg('sum').sort_values(by = ['Count of Flights'], ascending=False).reset_index()

print(grouped)

     Destination  Count of Flights
0        Phoenix               427
1        Seattle               366
2  San Francisco               231
3    Los Angeles               179
4      San Diego                85

#### Populate the Top Three Cities with Greatest Delays, Regardless of Airline

In [161]:
print("The Top Three City With the Greatest Delays: ")

top_three = grouped.head(3)


for row in range(len(top_three)):
    print(top_three.iloc[row]['Destination'])

The Top Three City With the Greatest Delays:
Phoenix
Seattle
San Francisco